<!DOCTYPE HTML>
<html>
<style> 
h1 { text-align: center; }
h2 { text-align: center;  }



</style>
<body style="background-color:green">
<h1 style="font-family:verdana;">English Dog Breeding</h1>
<h2>Come to us to find the dog for you</h2>
<p style="font-family:arial;"> We pride ourselves in providing only the best resources.</p> 
<p style="font-family:arial;"> For more information fill out the form below and someone will contact you shortly.</p>
<form>
    First Name:<br>
     <input type="text" name="firstname"><br>
     Last Name:<br>
     <input type="text" name="lastname"><br>
     Address:<br>
     <input type="text" name="address"><br>
     Desired Age:<br>
     <input type="text" name="breedage"><br>
     <br><br>
    <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png" alt="Buy now with PayPal" />
    
</form>
</body>
</html>
