

<html>
<body>
<style>
    body {
        background-color: #00FFFF;
    }
    
    h1 {
        
        text-align: center; font-family: Times New Roman; font-size: 35px;
    }
    form {
        text-align: center; 
    }
    
    .boxed {
        margin: auto;
        border: 3px solid; 
        border-color: black;
        width: 400px;
        
    }
</style>
<div class="boxed">
<h1>Login</h1>
<form>Username<br><input type="text" name="Username"><br>
Password<br><input type="text" name="Password"><br>
<input type="submit">
</form>
</div>
</body>
</html>
